<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>СкадТех Документация проекта</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script type="text/javascript" src="js/enhance.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">
enhance({
loadScripts: [
'js/jQuery.tree.js',
'js/example.js'
],
loadStyles: ['css/enhanced.css'],
});
</script>
<script type="text/javascript">
function openPage(href) {
document.getElementById('myFrame').src = href;
document.getElementById('myFrame').height = '10000';
}
</script>
<body>
	<div class="main">
		<div class="header">
			<div class="header_resize">
				<div class="logo">
					<h1><a href="index.html"><img src="images/scadtech.jpg" alt="ScadTech"><small>Документация проекта</small></h1>
				</div>
				<div class="clr"></div>
					<div class="menu_nav">
				</div>
				<div class="clr"></div>
			</div>
		</div>
		<div class="clr"></div>
			<div class="content">
				<div class="content_resize">
					<div class="mainbar">
						<div class="article">
							<h2><a href="">WinCC AutoDoc v1.0</a></h2>
							<hr>
							<div class="clr"></div>
								<p>Автоматически сгeнерированная документация<br>Папка: <b><a>@Folder</a></b><br>Сгенерировано: <b><a>@Date</a></b></p>
							</div>
							<iframe id="myFrame" style="border:1px dashed #ddd;" width="650" height="0" scrolling="no" src=""></iframe>
						</div>
						<div class="sidebar">
							<div class="gadget">
								<h2>Список Файлов</h2><hr>
								<ul id="files">
									@Tree
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
