<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>СкадТех Документация проекта</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../css/styleForOther.css" rel="stylesheet" type="text/css" />
</head><body><div class="main"><div class="content"><div class="content_resize"><div class="mainbar"><div class="article">
<h2>@hRef</h2><div class="clr"></div>
@Content
</div></div></div></div></div></body></html>
